# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 00779820e82d6980382637d9803d73b239e471427cdc2257c921490624a0297b49fe9f86d194e1852c664c81180ad7c300b159ae2ed4b77c2841ab9a6c7aa7e4

test:
  secret_key_base: 55d4f3b175ec331f2ec1f1e6fa99d1e4e53f973112e371520f2757598bedc7f4a4c2629f56f42d666634fd3955335e1cac63ced525e075a45b1e04b9e84e7a7d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
